{% extends 'ga/base.html' %}

{% block content %}
<h1> Welcome! </h1>
</br></br>
<h3> Some Urls: </h3>
<div>
  <a href="/"> Home </a>
  </br>
  <a href="/admin"> Admin </a>
  </br>
  <a href="/ga"> Google Analytics </a>
  </br>
  <a href="/report"> Report </a>
  </br>
  <a href="/kpi"> Kpi </a>
  </br>
  <a href="/login"> Login </a>
  </br>
  <a href="/logout"> Logout </a>
  </br>
  <a href="/register"> Register </a>
  </br>
  <a href="/accounts"> Accounts </a>
  </br>
</div>
<div><p>_____________________________________</p></div>
{% endblock %}
